* {
  margin: 0;
  padding: 0;
  border: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #9fe8df;
  height: 100vh;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

.font-value{
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 24px;
} 

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  letter-spacing: 10px;
  margin-bottom: 88px;
}

main{
  flex-direction: row;
  width: 920px;
  height: 481px;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 25px;
}

#calculator{
  justify-content: space-between !important;
  flex-direction: column;
  width: 379px;
  height: 388px;
  margin-right: 50px;
}

.calc{
  flex-direction:column;
  align-items: flex-start !important;
  width: 100%;
  color: hsl(186, 14%, 43%);
}

/* Wrapper around the input and icon */
.input-wrapper {
  width: 100%;
  height: 48px;
  background-color: hsl(189, 41%, 97%);
  margin-top: 6px;
  padding-right: 10px; /* Space for text on the right */
  border-radius: 5px;
}

/* SVG icon styling */
.input-wrapper svg {
  margin-left: 10px;
}

/* Input field styling */
.input-value {
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  color: hsl(183, 100%, 15%);
  border: none;
  text-align: right; /* Aligns the text to the right */
  background-color: transparent; /* Makes sure the input's background is transparent */
}

.bill-value:focus {
  outline: none; /* Removes the default focus outline */
}

.tips{
  flex-wrap: wrap;
  margin-top: 12px;
}

#btn-tip{
  width: 117px;
  height: 48px;
  margin-bottom: 8px;
  border-radius: 5px;

}

.tip{
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
}

.custon{
  background-color: hsl(189, 41%, 97%);
  color:hsl(186, 14%, 43%);
}

#results{
  flex-direction: column;
  width: 413px;
  height: 417px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
}

.amount-box{
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  flex-direction: row;
  height: 71px;
  width: 333px;
  margin-bottom: 30px;
}
.person-box{
  margin-top: 10px;
  height: 44px;
  width: 98px;
}

.amount-value {
  font-size: 48px;
  text-align: center;
  color: hsl(172, 67%, 45%);
  height: 71px;
}

.amount{
  color: hsl(0, 0%, 100%);
}

.person{
  color: hsl(183, 15%, 56%);;
}

#btn-reset{
  height: 48px;
  margin-top: 100px;
  width: 333px;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  main {
    flex-direction: column !important;
    width: 375px;
    height: 789px;
  }
  #calculator{
    width: 311px;
    margin-right: 0px;
  }
  #results{
    width: 327px;
    height: 257px;
    margin-top: 32px;
  }

  .input-wrapper{
    padding: 0;
  }

  #btn-tip{
    width:146.63px
  }

  .amount-box{
    margin-bottom: 20px;
    width: 281px;
  }

  #btn-reset{
    margin: 0;
    width: 281px;
  }

}